data
*.pt

# Byte-compiled / optimized / DLL file6s
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Logs
*.log

# Unit test / coverage
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Secrets or environment configs
.env
.env.*

# MyPy, Pyre, Pyright
.mypy_cache/
.pyre/
.pyright/

# SQLite and local DBs
*.sqlite3
*.db

# Other cache
*.cache/
__pypackages__/

# temp files 
*/tmp/*

# local datasets 
*/DVD_dataset_generation/inputs
pipeline/dvd_use_case/small_model/runs
pipeline/dvd_use_case/small_model/wandb
pipeline/RFI_usecase/post_processing/prediction_masks_large
pipeline/RFI_usecase/post_processing/rfi_postprocessing_outputs_large
pipeline/RFI_usecase/post_processing/rfi_postprocessing_outputs_kd
pipeline/RFI_usecase/checkpoints
model_validation/rfi_model/postprocessing_outputs
pipeline/dvd_use_case/runs
model_validation/rfi_model/rfi_prediction_mask
model_validation/vessel_detection/analysis
dataset_validation/Dataset_Image_Validation/LogsTestFolder

# old model location
pipeline/dvd_large_modeldataset_validation/baseline_models/dark-vessel-detection-baseline/notebooks/DVD_Exploratory_Data_Analysis.ipynb
dataset_validation/baseline_models/dark-vessel-detection-baseline/notebooks/DVD_Inference_Sample.ipynb
dataset_validation/baseline_models/dark-vessel-detection-baseline/notebooks/DVD_Exploratory_Data_Analysis.ipynb
